/*------------ Navbar Area---------------- */

.Navbar{
    background-color: grey !important;
}

.Navbar .navbar .container .navbar-brand{
    font-size: 40px;
    color: rgb(248, 248, 248);
   
}

.Navbar .navbar .container .collapse .navbar-nav .nav-item .nav-link{
    color: #212529;
    font-size: 20px;
}

.Navbar .navbar .container .collapse .navbar-nav .nav-item .nav-link:hover{
    color: orange;
    font-size: 21px;
}
/*------------ Carousel_Area Area---------------- */

.Carousel_Area .carousel{
    width: 100%;
    height: 70vh ;
}

.Carousel_Area .carousel .carousel-inner {
    width: 100%;
    height: 70vh;
}

.Carousel_Area .carousel  .carousel-inner {
 width: 100%;
    height: 100%;
}
.Carousel_Area .carousel .carousel-inner  .carousel-item {
   width: 100%;
    height: 100%; 
}

.Carousel_Area .carousel .carousel-inner  .carousel-item img {
   width: 100%;
    height: 100%; 
}

.Carousel_Area .carousel .carousel-indicators button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.Carousel_Area .carousel .carousel-indicators button.active{
     color: red;
    background-color: red;
}
/*------------ Recommended_area  Area---------------- */

.Recommended_area  .Text-area{
    margin-top: 5px;
    background-color: rgb(7, 106, 244);
    height: 70px !important;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  color:white;
  padding: 10px;

}


.Recommended_area .container {
    width: 100%;
}

.Recommended_area .container .row .main-content .card {
    width: 100%;
    height: 420px;
}

.Recommended_area .container .row .main-content .card .position-relative {
    width: 100%;
    height: 250px !important;
}

.Recommended_area .container .row .main-content .card .position-relative img {
    width: 100%;
    height: 250px !important;
}




  /* Make all team images uniform */

  .team_area  .position-relative {
    width: 100%;
    height: 280px;
  }

  .team_area .card-img-top {
    width: 100%;
    height: 300px; /* You can adjust this (e.g., 250px, 280px) */
    object-fit: fill; /* Keeps aspect ratio, crops overflow nicely */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

 

  /* Optional – make all cards same height */
  .team_area .card {
    height: 100%;
  }

  /* Optional – slight hover effect for modern look */
  .team_area .card:hover {
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
  }   


 .team_area  .card-body{
    margin-top: 10px;
 }



  .hover-link:hover {
    color: #0d6efd !important;
    padding-left: 4px;
    transition: all 0.3s ease;
  }

  .hover-icon:hover {
    color: #0d6efd !important;
    transform: translateY(-3px);
    transition: all 0.3s ease;
  }





